.parentTable-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
  }

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #ffae07;
}

td {
  background-color: #d3d3d3;
}

button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}
