* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../public/schoolbusBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: block;
    position: relative;
    height: 500px;
    width: 500px;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFAE07, #000);
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
    height: 500px;
}

form .form-inner h2 {
    color: #000;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

form .form-inner .form-group {
    display: block;
    width: 450px;
    margin-bottom: 25px;
}

.form-inner .form-group label {
    display: block;
    color: #000;
    font-size: 24px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #FFAE07;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #D3D3D3;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

form button:hover{
    background-color: #FFDD99;
}

.error {
    font-weight: bold;
    text-align: center;
    color: #ff0000;
    font-size: 24px;
    padding-top: 20px;
    transition: 0.4s;
    
}

/* Used to add spacing between buttons*/
.divider15px{
    width:15px;
    height:auto;
    display:inline-block;
}

.page{
    width:80%;
    height: 80%;
    background-color: #FFF;
    height:auto;
    padding: 15px 30px;
    float:right;
}

table{
    width:100%;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
    top: 15%;
    padding-top: 40px;
    background-color: rgb(148, 148, 148);
}

.logo {
    max-width: 100px;
    height:auto;
}

.sidebar button{

    display: inline-block;
    width:100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #535353;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}
.sidebar .currentPage{
    background-color: #000000;
}
.sidebar button:hover {
    background-color: #b8b8b8;
}

.main-content {
    position:absolute;
    left:15%;
    top: 15%;
    width:100%;
    height:100%;
    float:auto;
    padding: 40px 20px;

    background-color: #FFF;
}

.header{
    position:absolute;
    left:0;
    top:0;
    height:13%;
    width:100%;
    background-color: #ffae07;
    padding: 20px 20px;
}

/*
Welcome Screen, remove later
*/

.welcome {
    width: 100%;
    /* max-width: 480px; */
    background-color: #FFF;
    
    /* padding: 15px 30px; */
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #FE4880;
    font-weight: 700;
}

.welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.welcome button:hover {
    background-color: #ffdd99;
}
