.tr-clickable {
  cursor: pointer;
}

.table-header-rows {
  background-color: rgb(244, 177, 75);
}

.btn-sort {
}

.btn-sortreverse {
  transform: rotate(180deg);
}

.btn-prevnext {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 8px;
  background-color: rgb(244, 177, 75);
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.btn-prevnext:hover {
  background-color: #ffdd99;
}

.btn-prevnext_disabled {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 8px;
  background-color: rgb(244, 177, 75);
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  cursor: not-allowed;
}

.page-item.active .page-link {
  background-color: rgb(244, 177, 75);
  color: rgba(33, 37, 41, 255);
  border-color: rgba(33, 37, 41, 255);
}

.page-link {
  color: rgba(33, 37, 41, 255);
}
