*.pyc
/hypothetical_transportation/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# icloud stuff
*.icloud

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump
data/

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv3.7/
venv3.7/
/env/
/output/
/cache/
boilerplate.zip
*.pyc
/venv/
/venv-ece/
.DS_Store
hypothetical_transportation/accounts/migrations/
hypothetical_transportation/backend/migrations/
