.grayed-out-tr {
  background-color: lightgray;
  color: gray;
  font-weight: 700px;
}

.delete_td {
  font-weight: bold;
}

.tr-header-delete {
  background-color: darkgrey;
}

.tr-column_names-delete {
  background-color: rgb(194, 194, 194);
}

.tr-header {
  background-color: rgb(244, 177, 75);
}

.btn-delete_add {
  display: inline-block;
  background-color: green;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 12px;
}

.inputFieldInTable {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.click-to-delete {
  cursor: pointer;
  color: rgb(255, 167, 167);
}
