.parent-page {
  background-image: none;
}

.parent-page h2 {
  background-color: #fff;
}

.parentTable-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

th {
  background-color: #ffae07;
}

td {
  background-color: #d3d3d3;
}

.parentTable-container button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.parentTable-container button:hover {
  background-color: #ffdd99;
}

.welcome {
  width: 100%;
  /* max-width: 480px; */
  background-color: #fff;
  margin-top: 200px;
  text-align: center;

  /* padding: 15px 30px; */
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #000a41;
  font-weight: 700;
}

button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.welcome button:hover {
  background-color: #ffdd99;
}

.page-description h2 {
  text-align: center;
  font-size: 35x;
  color: #000;
}

.button-spacing {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.middle-justify {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent-details {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
}

.info-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 20px;
}

.info-fields h2 {
  font-size: 30px;
  font-weight: bold;
}
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  box-shadow: 0 0 5px 5px rgb(110, 110, 110);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.header-padding {
  margin-top: 50px;
  margin-right: 20px;
}
