.parent-page {
  background-image: none;
}

.parent-page h2 {
  background-color: #FFF;
}

.parentTable-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th, td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #ffae07;
}

td {
  background-color: #d3d3d3;
}

.parentTable-container button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}


.welcome {
    width: 100%;
    /* max-width: 480px; */
    background-color: #FFF;
    margin-top: 200px;
    text-align: center;
    
    /* padding: 15px 30px; */
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #FE4880;
    font-weight: 700;
}


button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.welcome button:hover {
  background-color: #ffdd99;
} 

.page-description h2 {
    text-align: center;
    font-size: 35x;
    color: #000;
}