button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.page{
    width:80%;
    height: 80%;
    background-color: #FFF;
    height:auto;
    padding: 15px 30px;
    float:right;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table{
    width:85%;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

th, td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  

.sidebar {
    height: 87%;
    width: 15%;
    position: absolute;
    left: 0;
    top: 13%;
    padding-top: 40px;
    background-color: rgb(148, 148, 148);
}

.sidebar button{

    display: inline-block;
    width:100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #535353;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}
.sidebar .currentPage{
    background-color: #000000;
}
.sidebar button:hover {
    background-color: #b8b8b8;
}

.main-content {

    /* margin-left: auto;
    margin-right: auto; */
    /* width:85%;
    height:87%; */

    background-color: #FFF;
}

.welcome {
    width: 100%;
    background-color: #FFF;
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #FE4880;
    font-weight: 700;
}

.welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffae07;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.welcome button:hover {
    background-color: #ffdd99;
} 
