.btn-search {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #ffae07;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #ffdd99;
}
